{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6"> <!--column of person, #mappings, #notes-->
      <div class="row-fluid" id="global_nav">
        <div class="span4">Name</div>
        <div class="span4"># Maps</div>
        <div class="span4"># Notes</div>
       </div>
      <div id="global_summary">
        {% for user in users %}
        <div class="row-fluid">
          <div class="span4">{{user.name}}</div>
          <div class="span4">{{user.map_total}}</div>
          <div class="span4">{{user.note_total}}</div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="span5 offset1">
      <div class="row-fluid">
        <p><a href="{{ url_for('user_profile_owner') }}">Your Maps</a></p>
      </div>
      <div class="row-fluid">
        <div class="span4"><p>Map</p></div>
        <div class="span4"><p># Sites</p></div>
        <div class="span4"><p># Notes</p></div>
      </div><br>
      {% for mapping in mappings %}
      <div class="row-fluid">
        <div class="span4"><p><a href="{{ url_for('user_mapping', uname=g.user.name, mname=mapping.name) }}">{{mapping.name}}</a></p></div>
        <div class="span4"><p>{{mapping.sites}}</p></div>
        <div class="span4"><p>{{mapping.notes}}</p></div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

