<div class="center" style="margin-bottom:2px; margin-top:14px;">
  <strong>How it works</strong>
</div>
<div class="well">
  <ul>
    <li><p>Download the Chrome Extension.</p></li>
    <li><p>It comes with a General bucket. Set other topics in the extension.</p></li>
    <li><p>Load a new website and highlight text on the page you want to save.</p></li>
    <li><p>Press ctrl-# to save to your chosen topic.</p></li>
    <li><p>Or press ctrl-` to choose a new topic to save to.</p></li>
    <li><p>Visit the site to see your accumulated research.</p></li>
  </ul>
</div>

