<div class="row-fluid site-wrapper">
  <div class="span12">
    <div class="box-wrapper">
      <div class="box shadow-box">
        <div class="controls-wrapper highcontrols-wrapper">
          <input id="rootId" class="rootId" type="hidden"/>
          <div class="row-fluid">
            <div class="span7">
              <div class="btn-toolbar pull-left">
              </div>
              <div class="btn-toolbar margin-left pull-left">
                <input type="text" class="input-small nameRoot" placeholder="Rename">
              </div>
            </div>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span7">
            <blockquote class="pull-right">
                <p id="rootTitle" class="siteText zoom-box" data-toggle="modal"></p>
            </blockquote>
          </div>
          <div class="span2 offset3 pull-right">
            <div class="row-fluid" id="rootCountSites"></div>
            <div class="row-fluid" id="rootCountNotes"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal , edited out temporarily -->
  </div>
</div>
