<div class="row-fluid site-wrapper">
  <div class="span12">
    <div class="box-wrapper">
      <div class="box shadow-box">
        <div class="controls-wrapper highcontrols-wrapper">
          <input id="siteId" class="siteId" type="hidden"/>
          <div class="row-fluid">
            <div class="span7">
              <div class="btn-toolbar pull-left">
                <div class="btn-group">
                  <a class="btn removeSite" href="#"><i class="icon-remove"></i>Remove</a>
                </div>
              </div>
              <div class="btn-toolbar margin-left pull-left">
                <input type="text" class="input-small shortName" placeholder="Name">
              </div>
              <h6 id="siteName" class="muted pull-left"></h6>
            </div>
            <div class="span5"></div>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span9 offset1">
            <blockquote class="pull-right">
              <p id="siteTitle" class="siteText zoom-box" data-toggle="modal"></p>
              <small>
                <cite id="siteUrl"></cite>
              </small>
            </blockquote>
          </div>
          <div class="span2 pull-right">
            <span id="siteTime"></span>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal , edited out temporarily -->
  </div>
</div>

