{% extends "base.html" %}

{% block head %}
{{ super() }}
<style>
  #map-nav {
    min-height:100px;
    border: 1px solid;
    margin-bottom: 20px;
  }

  #map-notes {
    border: 1px solid;
    margin-bototm: 20px;
    min-height: 100px;
  }

  #map-sites {
    min-height:100px;
    border: 1px solid;
    margin-bottom: 20px;
  }

  #map-sandlot {
    border: 1px solid;
  }

  .sidebar {
    background-color:#dceaf4;
    min-height:100px;
  }

</style>
{% endblock %}

{% block content %}
<hr>
<div class="container-fluid">
  {% if mapping %}
  <div class="row-fluid" id="show-canvas">
    <div class="row-fluid">
      <div class="container-fluid" id="map-notes">
        <div class="span1" id="note-time"></div>
        <div class="span11" id="note-text"></div>
      </div>
    </div>
    <hr>
    <div class="row-fluid">
      <div class="container-fluid" id="map-sandlot"></div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}

{%  block footer %}
{{ super() }}
<script src="/static/js/d3.v3.js"></script>
<script src="/static/js/user_mapping.js" onload="showMappingVisualization({{mapping}}, {{show_canvas}})"></script>
{% endblock %}
