{% extends "base.html" %}

{% block head %}
{{ super() }}
<style>
#map-sandlot {
    border: 1px solid;
}

.infobar {
    background-color:#dceaf4;
    margin-bottom:2px;
    border:1px solid;
    min-height:100px;
}

.weight {
    width:35px;
}
</style>
{% endblock %}

{% block content %}
<hr>
<div class="container-fluid">
  {% if mapping %}
  <div class="row-fluid" id="show-canvas">
    <div class="row note-wrapper">
      <div id="map-root"></div>
      <div id="map-note" style="display:hidden">
        <div class="span1">
          <div class="row-fluid" id="note-time"></div>
          <div class="row-fluid">
            <input class="weight" id="note-weight" type="number" max=10>
          </div>
        </div>
        <div class="span11" id="note-text"></div>
      </div>
      <div id="map-site" style="display:hidden">
        <div class="span1" id="site-weight">
          <input class="weight" id="site-weight" type="number" max=10>
        </div>
        <div class="span11" id="site-title"></div>
      </div>
    </div>
    <hr>
    <div class="row-fluid">
      <div class="container-fluid" id="map-sandlot"></div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}

{% block footer %}
<script src="/static/js/d3.v3.js"></script>
<script src="/static/js/user_mapping.js" onload="showMappingVisualization({{json_mapping}}, {{show_canvas}})"></script>
{% endblock %}
